#my-test{
    display: none;
}

.tabs {
    display: flex;
    margin-bottom: 10px;
  }
  
#tab-btn {
    cursor: pointer;
    border-radius: 5px 5px 0 0;
  }
  
  .tab-content, .tab-content-a1{
    display: none;
    padding: 20px;
  }

  
  .tab-content p, .tab-content-a1 p{
    margin: 0;
  }

  .tab{
    border: 1px solid #8CDDFE;
  }

  